body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://pixeldrain.com/api/file/5s4A58Pz');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#dock {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%; 
    text-align: center;  
}

.icon {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.window {
    position: fixed;
    background-color: #000000; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: none;
    z-index: 1;  
    width: 45%;
    height: 45%;
    top: 27.5%;
    left: 27.5%;
}


.window.active {
    display: block;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #aaa;
}

.app-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}

iframe {
    width: 100%; 
    height: 80%; 
    border: none;
}
